html,
body {
  height: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 75%;
}
body {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../img/background.jpg);
  height: 1327px;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
}
a {
  text-decoration: none;
}
header {
  height: 300px;
  background: url("../img/bg_brown.jpg") repeat;
}
header .head_top img {
  margin-left: 33px;
  width: 115px;
  height: 85px;
  float: left;
}
header .head_top .blocks .block1,
header .head_top .blocks .block2,
header .head_top .blocks .block3 {
  padding: 2px 15px 0;
  float: left;
}
header .head_top .blocks .block1 p,
header .head_top .blocks .block2 p,
header .head_top .blocks .block3 p {
  font-size: 13px;
  color: #fff;
  font-weight: bold;
}
header .head_top .blocks .block3 {
  padding-right: 0;
}
header .head_top .blocks .block3 p {
  font-family: verdana, geneva, sans-serif;
  color: #efefef;
  font-size: 22px;
  padding-top: 15px;
  padding-right: 55px;
}
header .head_top .blocks .block1 p {
  padding-left: 5px;
  font-style: italic;
}
header .head_top .blocks .block2 {
  position: relative;
}
header .head_top .blocks .block2 p.phone img {
  position: absolute;
  top: 5px;
  right: 16px;
  width: 30px;
  height: 30px;
  float: right;
}
header .head_top .blocks .block-bottom p {
  text-align: center;
  margin-top: -5px;
  font-family: verdana, geneva, sans-serif;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
}
header .header_bottom {
  height: 172px;
  width: 100%;
  background: url(../img/1_11.png);
  background-size: cover;
  position: relative;
  top: 15px;
  left: 0;
}
header .header_bottom img.left {
  width: 242px;
  height: 164px;
  position: relative;
  top: 4px;
  left: 36px;
}
header .header_bottom .right_block {
  position: relative;
  color: #222;
}
header .header_bottom .right_block .top {
  position: absolute;
  top: -172px;
  left: 341px;
  font-size: 36px;
}
header .header_bottom .right_block .center {
  font-size: 28px;
  text-align: center;
  position: absolute;
  top: -102px;
  left: 341px;
}
header .header_bottom .right_block .stamp {
  position: absolute;
  top: -100px;
  left: 570px;
  width: 92px;
  height: 81px;
}
header .header_bottom .right_block .timer {
  position: absolute;
  top: 0px;
  left: 148px;
  width: 444px;
  height: 124.91961414790997px;
}
header .header_bottom .right_block .timer .title {
  color: #cc0000;
  font-size: 26px;
  font-weight: bold;
  position: absolute;
  top: -126px;
  right: -407px;
}
header .header_bottom .right_block .timer ul.widget-timer {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -90px;
  right: -400px;
}
header .header_bottom .right_block .timer ul.widget-timer li {
  height: 69.93569131832797px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 57.87781350482315px;
  line-height: 69.93569131832797px;
  text-align: center;
  vertical-align: top;
  float: left;
}
header .header_bottom .right_block .timer ul.widget-timer li .digits {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/timer/bg_red.png);
  display: inline-block;
  width: 43.40836012861737px;
  height: 69.93569131832797px;
  color: #333333;
}
header .header_bottom .right_block .timer ul.widget-timer li .first {
  margin-right: -16px;
}
header .header_bottom .right_block .timer ul.widget-timer li .separator {
  background: none;
  width: 28.55305466237942px;
  color: #000000;
}
header .header_bottom .right_block .timer ul.widget-timer li .label {
  color: #333333;
  font-size: 21.414790996784564px;
  line-height: 21.414790996784564px;
}
section {
  height: 438px;
}
.section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6 {
  width: 1024px;
}
.section-1 {
  background: url(../img/bg_light.png) repeat;
}
.section-1 .left {
  float: left;
  width: 497px;
  height: 100%;
}
.section-1 .left .block {
  width: 497px;
  height: 120px;
  margin: 1px 0 30px;
}
.section-1 .left .block img {
  float: left;
}
.section-1 .left .block ul li {
  font-size: 16px;
  color: #2b196d;
  text-decoration: underline;
}
.section-1 .left .block ul li.no {
  text-decoration: none;
}
.section-1 .left .block ul {
  margin-left: 160px;
  padding-top: 10px;
}
.section-1 .left .block-1 {
  background: #B6E2AA;
  position: relative;
}
.section-1 .left .block-1 img {
  width: 87px;
  height: 87px;
  padding: 17px;
  padding-left: 30px;
}
.section-1 .left .block-1 img.bg {
  width: 118px;
  height: 118px;
  position: absolute;
  top: -16px;
  left: -15px;
}
.section-1 .left .block-2 {
  background: #B4FEDE;
}
.section-1 .left .block-2 img {
  width: 109px;
  height: 94px;
  padding: 12px 0 0 20px;
}
.section-1 .left .block-3 {
  background: #D2D0DA;
}
.section-1 .left .block-3 img {
  width: 128px;
  height: 128px;
  padding-left: 10px;
}
.section-1 .right {
  width: 497px;
  height: 406px;
  float: right;
  background: #736E4C;
  margin: 15px 20px 0 0;
  position: relative;
}
.section-1 .right .arrow {
  position: absolute;
  top: 237px;
  left: -38px;
}
.section-1 .right .titleform {
  color: #fff;
  font-size: 26px;
  text-align: center;
  text-decoration: underline;
}
.section-1 .right .submit {
  border-radius: 15px;
  background-color: #f21b1b;
  text-align: center;
  cursor: pointer;
  width: 358px;
  height: 62px;
  color: #ffffff;
  margin-left: 65px;
  line-height: 62px;
  font-size: 36px;
  font-family: Verdana;
  font-weight: bold;
}
.section-1 .right .submit:hover {
  background-color: #849F55;
}
.section-1 .right p {
  font-size: 14px;
  color: #fff;
  margin: 0 50px;
  margin-top: 10px;
}
.section-1 .right p.bottom {
  margin-top: 5px;
  font-size: 12px;
  float: left;
}
.section-1 .right form .cont {
  margin-left: 65px;
}
.section-1 .right form .cont input,
.section-1 .right form .cont textarea {
  margin: 0 0 4px;
  width: 328px;
  height: 41px;
  font-size: 16px;
  font-family: Verdana;
  border: 1px solid #cccccc;
  border-radius: 6px;
  focus-color: #53a7ec;
  padding: 0 16px !important;
}
.section-1 .right form .cont.file input {
  position: absolute;
  top: 381px;
  left: 178px;
  margin: 0;
  width: auto;
  height: auto;
  font-size: 14px;
  font-family: Verdana;
  border: 0;
  border-radius: 0;
  padding: 0;
}
.section-1 .right .message {
  left: 381.5px;
  top: 67px;
  position: fixed;
  display: block;
  width: 500px;
  height: 200px;
  padding-top: 130px;
  text-align: center;
  color: #43474c;
  font-size: 16px;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
.section-1 .right .message .close {
  background: url(../fancybox/fancybox_sprite@2x.png) 0 0;
  background-size: 120%;
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
  height: 28px;
  width: 28px;
  color: #06c;
  text-decoration: underline;
}
.section-2 {
  height: 280px;
}
.section-2 .left {
  width: 500px;
  float: left;
  margin-left: 20px;
}
.section-2 .left .title_head {
  margin: 20px 0 ;
  font-size: 26px;
  font-weight: bold;
  color: #2d2b32;
  text-align: center;
}
.section-2 .left .timer {
  margin-left: 20px;
  width: 500px;
  height: 124.91961414790997px;
}
.section-2 .left .timer .title {
  padding-left: 10px;
  color: #2d2b32;
  font-size: 14px;
}
.section-2 .left .timer ul.widget-timer {
  margin: 0;
  padding: 0;
}
.section-2 .left .timer ul.widget-timer li {
  height: 103.5048231511254px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 85.65916398713826px;
  line-height: 103.5048231511254px;
  text-align: center;
  vertical-align: top;
  float: left;
}
.section-2 .left .timer ul.widget-timer li .digits {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/timer/bg_purple.png);
  display: inline-block;
  width: 64.2443729903537px;
  height: 103.5048231511254px;
  color: #333333;
}
.section-2 .left .timer ul.widget-timer li .first {
  margin-right: -26px;
}
.section-2 .left .timer ul.widget-timer li .separator {
  background: none;
  width: 28.55305466237942px;
  color: #000000;
}
.section-2 .left .timer ul.widget-timer li .label {
  color: #333333;
  font-size: 21.414790996784564px;
  line-height: 21.414790996784564px;
}
.section-2 .right {
  margin-right: 60px;
  float: right;
}
.section-2 .right img {
  padding-top: 60px;
  width: 383px;
  height: 182px;
}
.section-3 .title {
  color: #008000;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
}
.section-3 .images {
  width: 1024px;
  height: 170px;
  background-color: #fff;
}
.section-3 .images img {
  width: 150px;
  height: 170px;
  object-fit: contain;
}
.section-3 .price {
  border: 1px solid #cccccc;
  width: 1024px;
}
.section-3 .price .name {
  color: #2d2b32;
  font-size: 18px;
  text-align: center;
  padding: 10px 0 0;
}
.section-3 .price .cost {
  width: 190px;
  height: 50px;
  padding-top: 20px;
  color: #B22222;
  font-size: 18px;
  text-align: center;
  background: url(../img/small-outlining-green-hover.png) no-repeat center center;
}
.section-3 .dop p {
  padding-left: 10px;
  color: #2d2b32;
  font-size: 14px;
  line-height: 20px;
}
.section-3 .dop p.two {
  float: left;
}
.section-3 .dop p.num {
  font-weight: bold;
  float: right;
  font-size: 20px;
  color: #000;
}
.section-4 {
  background-color: #EFEFEF;
  height: 224px;
}
.section-4 .title {
  font-size: 28px;
  color: #000;
  line-height: 60px;
  text-align: center;
}
.section-4 .images {
  padding: 10px 40px 0;
}
.section-4 .images img {
  object-fit: contain;
  width: 150px;
  height: 120px;
}
.section-5 {
  width: 100%;
  height: 380px;
  background: url("../img/bg_brown.jpg") repeat;
}
.section-5 .title {
  color: #fff;
  font-size: 26px;
  text-align: center;
}
.section-5 .is-gallery {
  width: 930px;
  margin: 0 auto;
}
.section-5 .is-gallery .gallery a img {
  width: 150px;
  height: 170px;
  object-fit: contain;
}
.section-5 .is-gallery .gallery .slick-prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -16px;
  width: 16px;
  height: 32px;
  background: url(../img/gallery/arrows.png) no-repeat;
}
.section-5 .is-gallery .gallery .slick-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: -20px;
  margin-top: -16px;
  width: 16px;
  height: 32px;
  background: url(../img/gallery/arrows.png) no-repeat;
  background-position: -16px 0;
}
.section-5 .bottom {
  position: relative;
  margin-left: 20px;
}
.section-5 .bottom .p-1 {
  color: #efefef;
  font-size: 24px;
}
.section-5 .bottom .p-2 {
  color: #efefef;
  font-size: 12px;
}
.section-5 .bottom .p-3,
.section-5 .bottom .p-4,
.section-5 .bottom .p-5 {
  font-size: 13px;
  color: #fff;
  font-weight: bold;
  font-style: italic;
}
.section-5 .bottom .p-5 span {
  font-size: 12px;
  color: #fff;
  font-family: "times new roman", times;
  font-weight: bold;
}
.section-5 .bottom .p-7 {
  font-weight: bold;
  font-size: 12px;
  color: #fff;
}
.section-5 .bottom .p-7 span {
  color: #06c;
}
.section-5 .bottom .p-8 {
  position: absolute;
  top: 72px;
  left: 391px;
  font-family: "times new roman", times;
  font-weight: bold;
  color: #FFFF00;
  font-size: 16px;
}
.section-5 .bottom ul li {
  color: #00FF00;
  font-size: 14px;
  font-family: verdana, geneva;
  font-weight: bold;
}
.section-5 .bottom .ul-1 {
  position: absolute;
  top: 100px;
  left: 391px;
}
.section-5 .bottom .ul-2 {
  position: absolute;
  top: 100px;
  left: 670px;
}
.section-5 .bottom .num span {
  position: absolute;
  top: 151px;
  left: 248px;
  color: #fff;
  font-size: 12px;
  z-index: 10;
  font-weight: bold;
}
.section-5 .bottom .num img {
  z-index: 1;
  height: 59px;
  width: 165px;
  background-color: #2ad463;
  position: absolute;
  top: 109px;
  left: 204px;
}
.section-6 {
  height: 418px;
  padding: 10px 0 0 40px;
  position: relative;
}
.section-6 .map {
  float: left;
}
.section-6 .right {
  width: 440px;
  height: 406px;
  float: right;
  position: relative;
}
.section-6 .right .submit {
  border-radius: 15px;
  background-color: #f21b1b;
  text-align: center;
  cursor: pointer;
  width: 358px;
  height: 62px;
  color: #ffffff;
  margin: 10px 0 20px 15px;
  line-height: 62px;
  font-size: 36px;
  font-family: Verdana;
  font-weight: bold;
}
.section-6 .right .submit:hover {
  background-color: #849F55;
}
.section-6 .right form .cont input,
.section-6 .right form .cont textarea {
  margin: 0 0 4px;
  margin-left: 15px;
  width: 328px;
  height: 41px;
  font-size: 16px;
  font-family: Verdana;
  border: 1px solid #cccccc;
  border-radius: 6px;
  focus-color: #53a7ec;
  padding: 0 16px !important;
}
